---
layout: default
title: Home
---

<div class="pagination">
	<h2>
		The Myntra Engineering Blog has migrated to Medium.
		You can find it here:
		<a href="https://medium.com/myntra-engineering">https://medium.com/myntra-engineering</a>
	</h2>
</div>

<div class="posts">
	{% for post in paginator.posts %}
	<article class="post">
		<h1 class="post-title">
			<a href="{{ site.baseurl }}{{ post.url }}">
				{{ post.title }}
			</a>
		</h1>	
		{% assign author = site.authors[post.author] %}		
		<div class="meta">
			{% if author.gravatar %}
				<img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=40">
			{% endif %}
			<span class="author">{{ author.display_name }}</span>
		</div>		
		<time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

		{{ post.content }}
	</article>
	{% endfor %}
</div>

<div class="pagination">
	{% if paginator.next_page %}
	<a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
	{% else %}
	<span class="pagination-item older">Older</span>
	{% endif %}
	{% if paginator.previous_page %}
	<a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
	{% else %}
	<span class="pagination-item newer">Newer</span>
	{% endif %}
</div>
